* 
{ 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}
body
{ 
	font: 13px Helvetica, Arial; 
}
form
{ 
	background: #000; 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
}
form.auth
{
	top: 25%;
	width:50%;
	height:50%;
	margin-left: 25%;
}
form.auth input
{
	font: 20px Helvetica, Arial;
	padding: 15px;
	width: 25%;
	margin-left: 35%;
	margin-top: 1%;
}
form.auth button
{
	font: 20px Helvetica, Arial;
	background: rgb(130, 224, 255);
	border: none;
	padding: 15px;
	width: 25%;
	margin-left: 35%;
	margin-top: 1%;
}
form input 
{ 
	border: 0; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%; 
}
form.joinUser input
{ 
	border: 0; 
	padding: 10px; 
	width: 30%; 
	margin-right: .5%; 
	margin-top: .1%; 
	margin-left: 25%; 
}
form button 
{ 
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px; 
}
form.joinUser button
{ 
	width: 20%; 
	margin-top: .2%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px; 
}
.messages
{ 
	list-style-type: none; 
	margin: 0 0 50px; 
	padding: 0; 
}
.messages li
{ 
	padding: 5px 10px; 
}
.messages li:nth-child(odd)
{ 
	background: #eee; 
}
